* {
    --bg-color: #f0eaea;
    --text-color: #222;
    --accent: #06b6d4;
    --border-color: #80808044;
    --font-family: ui-sans-serif, system-ui, -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Noto Sans', Ubuntu,
        Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    font-family: var(--font-family);
    box-sizing: border-box;
}

.selection-btn {
    background-color: var(--bg-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    height: 40px;
    width: 40px;
    transition: all 0.3 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.selection-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.selection-btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Modal */

/* Overlay */
.plasmo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 999998;
}

/* Modal box */
.plasmo-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3dc8e066;
    backdrop-filter: blur(12px);
    min-height: 200px;
    max-width: 700px;
    width: 100%;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    z-index: 999999;
    border: 1.5px solid #989898;
    animation: plasmo-fade-in 0.2s ease-out;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow: hidden;
}

/* Header */
.plasmo-modal-header {
    display: flex;
    align-items: center;
    padding: 12px 4px;
    justify-content: space-between;
    background-color: transparent;
}

.plasmo-modal-logo {
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.filter {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.filter-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    color: var(--text-color);
    max-width: 120px;
    width: fit-content;
}

/* Resumary button */

.re-summary-btn {
    background-color: var(--bg-color);
    outline: none;
    border: 1.5px solid var(--border-color);
    color: var(--text-color);
    border-radius: 12px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.re-summary-btn:hover {
    opacity: 0.8;
}

.re-summary-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Selection */

.selection-container {
    width: 100%;
    position: relative;
    font-family: sans-serif;
}

.selection-label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    font-weight: 500;
}

.selection-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    background-color: var(--bg-color);
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.2s ease;
}

.selection-button:hover {
    border-color: #9ca3af;
}

.selection-button.open {
    border-color: var(--accent);
}

.selection-selected-img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 9999px;
    object-fit: cover;
}

.selected-label {
    font-weight: 500;
}

.selection-chevron {
    width: 18px;
    height: 18px;
    transition: transform 0.2s ease;
}

.selection-button.open .selection-chevron {
    transform: rotate(180deg);
}

.selection-options {
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background: white;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    max-height: 120px;
    height: fit-content;
    overflow-y: auto;
    z-index: 20;
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.selection-option {
    padding: 8px 36px 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.15s ease;
    position: relative;
    font-weight: 500;
}

.selection-option:hover {
    background: #e5e5e5;
}

.selection-option img {
    width: 16;
    height: 16;
    border-radius: 9999px;
    object-fit: cover;
}

.selected-button {
    display: flex;
    align-items: center;
    max-width: 64px;
    width: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.selection-check {
    position: absolute;
    right: 10px;
    color: #0891b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body */
.plasmo-modal-content {
    flex: 1;
    color: var(--text-color);
    background-color: var(--bg-color);
    /* background-color: #ffffff44; */

    height: 100%;
    padding: 18px;
    border-radius: 14px;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-word;
    font-weight: 500;
}

/* Number Input */

.ni-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.ni-label {
    font-weight: 500;
    font-size: 14px;
    flex: 1;
}

.ni-input-box {
    position: relative;
}

.ni-input {
    width: 100%;
    padding: 8px 32px 8px 12px;
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1.5px solid var(--border-color);
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    transition:
        border 0.2s ease,
        box-shadow 0.2s ease;
    appearance: textfield;
    position: relative;
    font-weight: 500;
}

.ni-input:hover {
    border-color: #9ca3af;
}

.ni-input:focus {
    outline: none;
    border-color: var(--accent);
}

.ni-controls {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    pointer-events: none;
}

.ni-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #999;
    transition: color 0.2s ease;
    pointer-events: auto;
}

.ni-btn:hover {
    color: var(--accent);
}

.ni-btn svg {
    display: block;
}

/* Right side */

.right-side {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.icon-wrap {
    background-color: var(--bg-color);
    outline: none;
    border: 1.5px solid var(--border-color);
    color: var(--text-color);
    border-radius: 12px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrap:hover {
    opacity: 0.8;
}

.icon {
    color: #999;
}

/* Animation */
@keyframes plasmo-fade-in {
    from {
        opacity: 0;
        transform: translate(-50%, -48%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ẩn nút tăng/giảm mặc định trong Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}
